[Desktop Entry]
Name=Obsidian
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=obsidian.sh --file-forwarding md.obsidian.Obsidian @@u %U @@
Terminal=false
Type=Application
Icon=md.obsidian.Obsidian
StartupWMClass=obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
X-Flatpak-Tags=proprietary;
X-Flatpak=md.obsidian.Obsidian
X-XFCE-Source=file:///var/lib/flatpak/app/md.obsidian.Obsidian/x86_64/stable/6570232675a49535d1e59523f204b4cea052e6111ecd77ab30d34ed3c375c4e2/export/share/applications/md.obsidian.Obsidian.desktop
